
.chat-side
  .side_header
    .side_header__box
      %p.side_header__box-user-name 名前
      %ul.side_header__box__menu
        %li.list
          = link_to "#" do
            = icon('fa', 'edit', class: 'icon')
        %li.list
          = link_to "#" do
            = icon('fa', 'cog', class: 'icon')

  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
  

